$base-font-size: 18px;
$color-primary: #FF595D;
$color-secondary: #FFA859;
$color-darker: #1a1a1a;
$color-dark: #242424;


$text-small: 0.833rem;
$text-large: 1.5rem;

$border-radius-small: 0.5rem;
$border-radius: 1rem;
$border-radius-large: 2rem;

@mixin box-shadow {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 5px 5px -5px $color-primary;
}

@mixin breakpoint-custom-down($max) {
  @media all and (max-width: $max) {
    @content;
  }
}

@mixin breakpoint-mobile-down {
  @include breakpoint-custom-down(767px) {
    @content;
  }
}

@mixin breakpoint-tablet-down {
  @include breakpoint-custom-down(1024px) {
    @content;
  }
}